{{!< default}}

<div class="container">

{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Sections</h4>
        </div>

        <ul class="page-links-parent list-group">
          {{#get "tags" limit="all"}}
            {{#foreach tags}}
                <li class="page-links list-group-item"><a href="{{url}}">{{name}}</a></li>
              {{/foreach}}
            {{/get}}
        </ul>

      </div>
      <div class="panel-info">
        <div class="panel-heading">Social Media</div>
      <div class="panel-body">
        <a href="https://www.facebook.com/trackplanfm/" target="_blank"><span class="icon fa fa-facebook-official fa-2x" aria-hidden="true"></span></a>
        <a href="https://twitter.com/trackplan" target="_blank"><span class="icon fa fa-twitter fa-2x" aria-hidden="true"></span></a>
        <a href="https://www.youtube.com/channel/UCAAEbQ4e4wC9ObemUHJaiNA" target="_blank"><span class="icon fa fa-youtube fa-2x" aria-hidden="true"></span></a>
        <a href="https://plus.google.com/b/108592827037808470589/108592827037808470589" target="_blank"><span class="icon fa fa-google-plus-square fa-2x" aria-hidden="true"></span></a>
      </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading"><h3>Welcome to Trackplan Software Documentation<h3></div>
        <div class="panel-body">
            <h5><b>Here you will find all the documention needed to use the powerful Trackplan FM Software</b>.</h5>
            <p>  On the left hand side of the screen you will see various diffent sections. These sections pertain to different areas of the software. On clicking these sections various sub-sections will appear to help narrow down the search of documentation needed. At the top of these sub-sections videos will also be provided. These vidoes were created with the vision of quickly helping our customers get up and running with the software.</p> Also on the top menu you will find the following: 
              <ul>
                <li style="padding:10px 0 10px 0;"><b>Submit Feedback</b> - This is used to send us feeback on the product and also ask us any questions in relation to the product. Feedback is greatly appreciated.</li>
                <li style="padding-bottom:10px;"><b>Index</b> - This is where you will find all the help ariticles on the site in one list. This is helpful when you do not know which section relates to your query. Using ctrl + f on most browsers will also help you search the page, further narrowing your query.</li>
                <li style="padding-bottom:10px;"><b>Video Tutorials</b> - here you can find all of our video tutorials on our Youtube channel, this is updated regularly to keep you up to date with the latest features.</li>
                <li style="padding-bottom:10px;"><b>Search</b> - the search box is used to search all help articles on the site and return the ones most relevant to your search.</li>
              </ul>
              <h5>If you have any further questions, please contact us <b><a href="http://localhost:2368/submit-feedback/">here</a></b>.</h5>

        </div>
      </div>
    </div>

</main>
</div>



