{{!< default}} 
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="panel  panel-primary">
			<div class="panel-heading">
				<h3>Contact Us & Send us your feedback</h3>
			</div>
			<div class="panel-body">
		<form id="contact-us-form" data-toggle="validator" role="form" action="https://formspree.io/emmetdel@gmail.com"
      method="POST">
			<div class="form-group">
				<div class="input-group input-group-lg name">
					<span class="input-group-addon" id="sizing-addon2"><span class="fa fa-keyboard-o"></span></span>
					<input name="name" type="text" id="contact-name" class="form-control" placeholder="Name" data-error="Please enter your name." aria-describedby="sizing-addon2"
						required>
				</div>
				<div class="help-block with-errors"></div>
			</div>
			<div class="form-group">
				<div class="input-group input-group-lg email">
					<span class="input-group-addon" id="sizing-addon2"><span class="fa fa-envelope-o"></span></span>
					<input type="email" id="contact-email" class="form-control" placeholder="Email" data-error="Email address is invalid." aria-describedby="sizing-addon2"
						required>
				</div>
				<div class="help-block with-errors"></div>
			</div>
			<div class="form-group">
				<div class="input-group input-group-lg website">
					<span class="input-group-addon" id="sizing-addon2"><span class="fa fa-globe"></span></span>
					<input type="url" id="contact-website" class="form-control" placeholder="Website" data-error="Please enter a valid URL (must start http://*)."
						aria-describedby="sizing-addon2">
				</div>
				<div class="help-block with-errors"></div>
			</div>
			<div class="form-group">
				<div class="input-group-lg title">
					<input type="text" id="contact-subject" class="form-control" placeholder="Subject" data-error="Please enter a subject." aria-describedby="sizing-addon2"
						required>
				</div>
				<div class="help-block with-errors"></div>
			</div>
			<div class="form-group">
				<div id="contact-us-message" class="input-group-lg message">
					<textarea id="contact-message" class="form-control" placeholder="Enter a message" data-error="Please enter a message" rows="4"
						required></textarea>
				</div>
				<div class="help-block with-errors"></div>
			</div>
			<button id="contact-us-send-message" type="submit" onsubmit="return false;" class="btn btn-custom orange-button">
    <span class="fa fa-paper-plane" aria-hidden="true"></span>
    <span class="no-pointer-events contact-us-button-text">SEND MESSAGE</span>
  </button>

</form>
</div>
</div>
</div>
</div>