<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="blog-logo navbar-brand" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse  navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
            <!-- Loop through the navigation items -->
            {{#foreach navigation}}
            <li class="" ><a href="{{url absolute="true"}}">{{label}}</a></li>
            {{/foreach}}
            <!-- End the loop -->
        </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input id="search-field" type="text" class="form-control" placeholder="Search">
        </div>
        <input value="Search" type="submit" data-toggle="modal" class="btn btn-default" data-target="#myModal"></input>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Search Results</h4>
      </div>
      <div class="modal-body" id="search-results">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>